src/AddIn/Data/This-Version.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Version">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Number" type="xs:string" />
        <xs:element name="IsBeta" type="xs:boolean" />
        <xs:element name="Released" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>